# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Metro
.metro-health-check*

# JavaScript bundle
*.jsbundle

# Coverage
coverage/

# Environment files
.env
.env.*

# Android
android/.gradle/
android/app/build/
android/build/
android/.cxx/
android/local.properties
android/*.keystore
android/captures/
*.hprof

# IntelliJ / Android Studio
.idea/
*.iml

# iOS
ios/Pods/
ios/build/
ios/DerivedData/

# Xcode user data
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.moved-aside
*.xccheckout
*.hmap
*.ipa

# React Native
**/.xcode.env.local

# CocoaPods
/vendor/bundle/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Logs
*.log

# Temporary
tmp/
temp/